.tech-skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  color: #fff;
}
.tech-skills-container {
  padding-left: 40px;
  padding-top: 55px;
  padding-right: 55px;
}
.tech-skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
  color: #ff6b08;
}
.tech-skills-text {
  color: #bfc3c7;
}
